body{
    background-color: #f5f5f5;
    color: #000;
}

.promo-bar{
    background: #e6f2ff;
    padding: 10px 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-action{
  display: flex;
  gap: 15px;
}